@media (min-width: 768px) {
    .pr-checkout-payment {
        height: 100%
    }
}

.pr-checkout .pr-cart-item:last-child {
    margin-bottom: 0!important;
    padding-bottom: 0!important;
    border-bottom: none
}

.pr-checkout .form-check-input:checked+.form-check-label {
    color: var(--pr-secondary-dark-color)
}

.pr-checkout .content-block:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.oct-checkout-block.payment-method .form-check-item,.oct-checkout-block.shipping-method .form-check-item {
    border: var(--pr-dashed-border);
    background-color: var(--pr-light-color)
}

.form-check-item .form-check + .form-check {
    margin-top: 1rem;
}

.oct-checkout-block.payment-method .form-check-item:has(:checked),.oct-checkout-block.shipping-method .form-check-item:has(:checked) {
    background-color: var(--pr-body-bg-color)
}

.oct-checkout-block.payment-method .form-check-item p,.oct-checkout-block.shipping-method .form-check-item p {
    line-height: 1
}

.oct-checkout-block .payment-method-check-item,.oct-checkout-block.payment-method .form-check-item label,.oct-checkout-block.shipping-method .form-check-item label {
    cursor: pointer
}

.oct-checkout-block ul.dropdown-address {z-index:10000}

.oct-checkout-block ul.dropdown-address li:hover {
    background-color: var(--pr-border-color);
    color: var(--pr-dark-text-color)

}

.oct-checkout-block ul.dropdown-address {
    background: var(--pr-white-color);
}

.oct-checkout-block ul.dropdown-address li a {
    color: var(--pr-dark-text-color);
}

.oct-checkout-block #button-confirm {
    background-color: var(--pr-primary-color);
    padding: 0.75rem 2rem;
    font-size: 0.875rem;
    color: var(--pr-white-color);
    border: 0;
}

.oct-checkout-actions .button,.oct-checkout-actions [type=submit] {
    width: 100%
}

.strength-indicator {
    height: .5rem;
    width: 0;
    background-color: var(--pr-red-color);
    margin-top: .5rem;
    border-radius: 5px;
    -webkit-transition: width var(--pr-main-transition);
    transition: width var(--pr-main-transition)
}

.password-input-group .button-transparent {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10
}

.password-input-group .button-transparent.button-show {
    right: 1rem
}

.password-input-group .button-transparent.button-copy {
    left: 1rem
}

.password-input-group .button-transparent svg path {
    fill: var(--pr-light-text-color)
}

.button-generate {
    padding-block:.875rem}

.pr-cart-recommended-products {
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto
}

.pr-cart-recommended-products-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%
}

@media (min-width: 576px) {
    .pr-cart-recommended-products-item {
        -webkit-box-flex:0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%
    }
}

@media (min-width: 768px) {
    .pr-cart-recommended-products-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 330px;
        flex: 0 0 330px;
        max-width: 330px
    }
}

@media (min-width: 992px) {
    .pr-cart-recommended-products-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 330px;
        flex: 0 0 330px;
        max-width: 330px
    }
}

@media (min-width: 1600px) {
    .pr-cart-recommended-products-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 330px;
        flex: 0 0 330px;
        max-width: 330px
    }
}

.tooltip.show {
    z-index: 9999;
}

.payment-method-check-item a {
    color: var(--pr-links-color);
    text-decoration: underline;
}

.payment-method-check-item a:hover {
    text-decoration: none;
}