<div class="pr-module-html mt-4 content-block p-3 p-xl-4">
	{% if heading_title %}
		<div class="pr-page-title fw-700 dark-text pb-3 mb-3 mb-xl-4 border-bottom">
			{{ heading_title }}
		</div>
	{% endif %}
	<div class="pr-module-html-text">
		{{ html }}
	</div>
</div>
